@import "tailwindcss";

:root {
  /* Brand Colors */
  --brand-green: #22c55e;
  --brand-orange: #f97316;
  --brand-red: #ef4444;
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-brand-green: var(--brand-green);
  --color-brand-orange: var(--brand-orange);
  --color-brand-red: var(--brand-red);

  --font-oswald: var(--font-oswald);
  --font-manrope: var(--font-manrope);
  --font-galada: var(--font-galada);

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }


}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald), sans-serif;
}

.timer-font {
  font-family: var(--font-galada), serif;
}